@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root {
	--font-body: 'Courier New', Courier, monospace, "Helvetica Neue", sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgba(18, 17, 21);
	--color-text: rgb(252, 248, 255);
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}

nav {
	font-size: 32px;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}


h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
