@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:  'Reenie Beanie', Verdana, Georgia;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #DEE3ED ;
    border-radius: 5px;
  }
}